:root {
    --max-size: 34;
    --min-size: 18;
    --diff: calc(var(--max-size) - var(--min-size));
    --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

html {
    font-family: Roboto;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.btn {
    background-color: lightgrey;
    border: none;
    padding: 15px 32px;
    font-size: var(--responsive);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 15px;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9)
}

.endTurnBtn, .chiefOverlayBtn {
    width: 100%;
}

aside {
    text-align: center;
    position: relative;
}

aside > * {
    padding: 20px 0;
}

.chiefOverlay {
    background-color: lightgrey;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index:2;
    opacity:0.98;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--responsive);
}

.chiefOverlayContent {
    background-color: white;
    opacity: 1;
    z-index:3;
    margin: 100px;
    padding: 24px;
    text-align:center;
}

.chiefOverlayContent > span {
    display: block;
}
.chiefOverlayContent > span.chiefURL {
    margin-bottom: 15px;
}

.codeWord {
    float: left;
    width: 16%;
    text-align: center;
    border: 1px solid #000;
    margin: 20px 10px;
    padding: 20px 0;
    font-size: 28px;
}

@supports (display: grid) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 1em;
    }

    .matrix {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 1em;
    }

    .codeWord {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


.codeWord {
    text-align: center;
    border: 1px solid #000;
    font-size: var(--responsive);
    padding: 3vw 0;
    cursor: pointer;
}

.red {
    background-color: #f00;
}

.blue {
    background-color: #00f;
}

.black {
    color: white;
    background-color: #000;
}

.yellow {
    background-color: yellow;
}

.invisible {
    background-color: transparent;
    color: black;
}
